<form action="/login" method="post">
  <dl>
    <dt>
      <label for="username">Username:</label>
    </dt>
    <dd>
      <input name="username" type="text" value="" autofocus/>
    </dd>
    <dt>
      <label for="password">Password:</label>
    </dt>
    <dd>
      <input name="password" type="password" value=""/>
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Login">
    <a href="/">Cancel</a>
  </fieldset>
</form>