  <form class="login" action="/login" method="post">
    <label class="login-inp" for="title">
      <input name="username" type="text" value="" placeholder="" autofocus/>
      <span class="login-label">Username</span>
      <span class="focus-bg"></span>
    </label>
    <label class="login-inp" for="title">
      <input name="password" type="password" placeholder="" value=""/>
      <span class="login-label">Password</span>
      <span class="focus-bg"></span>
    </label>
    <input type="submit" value="Login">
    <a href="/create-account">Create Account</a>
  </form>
