<form action="/users/new-user" method="post">
  <dl>
    <dt>
      <label for="name">Enter your full name:</label>
    </dt>
    <dd>
      <input name="name" placeholder="John Doe" type="text" value="">
    </dd>
    <dt>
      <label for="username">Enter your username:</label>
    </dt>
    <dd>
      <input name="username" placeholder="jdoe321" type="text" value="">
    </dd>
    <dt>
      <label for="password">Enter your password:</label>
    </dt>
    <dd>
      <input name="password" type="password" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/">Cancel</a>
  </fieldset>
</form>