<form class="login" action="/create-account" method="post">
  <label class="login-inp" for="name">
    <input name="name" type="text" value="<%= params[:name] || '' %>" placeholder="" required autofocus/>
    <span class="login-label">Full Name</span>
    <span class="focus-bg"></span>
  </label>
  <label class="login-inp" for="title">
    <input name="username" type="text" value="<%= params[:username] || '' %>" placeholder="" required/>
    <span class="login-label">Username</span>
    <span class="focus-bg"></span>
  </label>
  <label class="login-inp" for="title">
    <input name="password" type="password" value="" placeholder="" required/>
    <span class="login-label">Password</span>
    <span class="focus-bg"></span>
  </label>
=  <input type="submit" value="Save">
  <a href="/">Cancel</a>
</form>